<html>
  <head>
    <title>
      yeoman hello
    </title>
    <!-- bower:css -->
    <!-- endbower -->
  </head>
  <body ng-app="febobo">
    <h1>yeoman hello</h1>
    <div ui-view></div>
    <!-- bower:js -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
  </body>
</html>
