<html>
    <head>
        <title>wiredep</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- build:css style/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild:vendor.css -->
        <!-- build:css style/app.css -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- endbuild:app.css -->
    </head>
    <body ng-app="febobo">
        <div ui-view></div>
        <!-- build:js script/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild:vendor.js -->
        <!-- build:js script/app.js -->
        <!-- inject:js -->
        <!-- endinject -->
        <!-- endbuild:app.js -->
    </body>
</html>
